@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$dark-blue: #1d3557;
$blue: #457b9d;
$light-blue: #a8dadc;
$red: #e63946;

// Update Bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;
$primary: $blue;
$danger: $red;
$success: $light-blue;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $dark-blue;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import "../node_modules/bulma/bulma.sass";
