@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$dark-blue: #1D3557;
// $blue: #457B9D;
// $light-blue: #A8DADC;
// $honeydew: #F1FAEE;
// $red: #E63946;

// Update Bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;
// $grey-dark: $dark-blue;
// $grey-light: $beige-light;
// $primary: $blue;
// $link: $red;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $dark-blue;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import "../node_modules/bulma/bulma.sass";